<div class="px-3 py-5 px-md-5 text-center text-lg-start d-flex align-items-center" style="
  background: rgb(255, 255, 255);
  background: linear-gradient(149deg, rgba(255,225,255,1) 10%, #2E21EB 90%, #293380 100%);
  height: 100vh;min-height: 100vh;">
  <div class="container d-flex align-items-center">
    <div class="row gx-lg-5 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <h1 class="my-5 display-3 fw-bold ls-tight">
          <app-logo></app-logo>
          Welcome to <br />
          <span class="" style="color: #293380;">The Shipping Spot</span>
        </h1>
        <p style="color: rgb(255, 255, 255)">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Eveniet, itaque accusantium odio, soluta, corrupti aliquam
          quibusdam tempora at cupiditate quis eum maiores libero
          veritatis? Dicta facilis sint aliquid ipsum atque?
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
