<div class="card shadow p-5 mb-5 bg-light" style="border-radius: 2rem;">
  <div class="card-body py-5 px-md-5">
    <form>
      <div class="form-outline mb-4">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix><i class="fa fa-user-circle" aria-hidden="true"></i></mat-icon>
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
      </div>
      <div class="form-outline mb-4">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="form-check d-flex justify-content-center mb-4">
        <mat-slide-toggle class="example-margin" color="primary" [checked]="checked">
          Keep Me Login
        </mat-slide-toggle>
      </div>
      <div class="row d-flex justify-content-center">
        <!-- Submit button -->
        <div class="col d-flex justify-content-center">
          <button mat-flat-button color="primary">Login</button>
        </div>
        <div class="col d-flex justify-content-center">
          <button routerLink="../signup" mat-stroked-button color="accent">Or Register</button>

        </div>
      </div>
    </form>


  </div>
</div>
